html { 
    background: url("../images/forbidden_home.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h2 {
    text-align: center;
    color: red;
    font-size: 40px;
}


h1 {
    text-align: center;
    color: red;
    font-size: 80px;
}

#answers{
    list-style-type: none;
}

ul#answers li {
    display: inline;
    color: red;
    font-size: 40px;
    padding: 40px;
}

.possible_answers {
	display: table;  
	margin: 0 auto;
}

iframe{
    position: absolute;
    bottom: 10px;
     width: 50%;
    border: 3px solid #8AC007;
}

ul {
    list-style: none;
    padding: 0;
    position: relative;
    width: 200px;
    height: 80px;
  }
  
  li {
    font-size: 18px;
    padding: 0px;
    position: absolute;
  }
  
  li:nth-child(1) { top: 50%;  left: 0;   transform: translateY(-40%) translateX(-25%); }
  li:nth-child(2) { top: 0;    left: 50%; transform: translateX(-50%) translateY(20%); }
  li:nth-child(3) { bottom: 0; left: 50%; transform: translateX(-50%) translateY(-10%); }
  li:nth-child(4) { top: 50%;  right: 0;  transform: translateY(-40%) translateX(25%); }
