html { 
    background: url("../images/forbidden_home.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h2 {
    text-align: center;
    color: red;
    font-size: 40px;
}


h1 {
    text-align: center;
    color: red;
    font-size: 80px;
}

#answers{
    list-style-type: none;
}

ul#answers li {
    display: inline;
    color: red;
    font-size: 40px;
    padding: 40px;
}

.possible_answers {
	display: table;  
	margin: 0 auto;
}

iframe{
    position: absolute;
    bottom: 10px;
     width: 50%;
    border: 3px solid #8AC007;
}
